
<div class="hero">
  <h2 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, labore adipisci culpa ab, repellat consectetur sint odio recusandae officiis, inventore laudantium eaque nostrum corrupti voluptas obcaecati delectus alias quas exercitationem?
  </h2>
  <div class="containerLogo">
    <div class="containerlogo__logo">

    </div>
  </div>
</div>

<div class="main">
  <div class="main__corporate">
    <div class="main__corporate--wrapper">

      <div class="main__corporate--wrapper-background">
        <div class="title">
          <h2>
            Sequi eum!
          </h2>
        </div>
      </div>

      <div class="main__corporate--wrapper-content">
        <div class="title">
          <h2>
            Nam qui nesciunt
          </h2>
        </div>
        <div class="text">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt tempora pariatur sint aperiam saepe. Nostrum fugiat illo laboriosam ab doloribus ea quidem odit dicta. Nihil beatae doloremque soluta facilis possimus</p>
        </div>

        <div class="address">
          <h4>Domicilios</h4>
          <p>Calle 1 # 1 - 01 barrio barrio</p>
        </div>
  </div>

  </div>


  </div>

  <div class="main__access">

    <div class="main__access--link">
      <div class="accBack">

      </div>

      <div class="accImg">


      </div>

      <div class="accTxt">
        lorem ipsum
      </div>
    </div>

    <div class="main__access--link">
      <div class="accBack">

      </div>

      <div class="accImg">


      </div>

      <div class="accTxt">
        lorem ipsum
      </div>
    </div>

    <div class="main__access--link">
      <div class="accBack">

      </div>

      <div class="accImg">


      </div>

      <div class="accTxt">
        lorem ipsum
      </div>
    </div>

  </div>

  <div class="main__infoParallax parL">
    <div class="main__infoParallax--content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum repellat libero totam aperiam rem vel necessitatibus, in distinctio ut velit! Quo ipsum et provident reiciendis alias nobis impedit pariatur aperiam.</p>
    </div>
    <div class="main__infoParallax--title">Helados</div>
  </div>

  <div class="main__shop sec1">

    <div class="main__shop--product sectL">
      <div class="main__shop--product-img image">
        <div class="productBack">

          <div class="productImg img01">

        </div>

        </div>
      </div>
      <div class="main__shop--product-content">
        <div class="productText">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi optio nesciunt cupiditate quis corporis esse rerum dicta saepe harum fugiat consectetur.
          </p>
        </div>
        <div class="productPrice">
          <p>sed diam $ 000.000</p>
        </div>
      </div>
    </div>

    <div class="main__shop--product sectR">
      <div class="main__shop--product-img image">
        <div class="productBack">

          <div class="productImg img02">

        </div>

        </div>
      </div>
      <div class="main__shop--product-content">
        <div class="productText">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi optio nesciunt cupiditate quis corporis esse rerum dicta saepe harum fugiat consectetur.
          </p>
        </div>
        <div class="productPrice">
          <p>sed diam $ 000.000</p>
        </div>
      </div>
    </div>

    <div class="main__shop--product sectL">
      <div class="main__shop--product-img image">
        <div class="productBack">

          <div class="productImg img03">

        </div>

        </div>

      </div>
      <div class="main__shop--product-content">
        <div class="productText">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi optio nesciunt cupiditate quis corporis esse rerum dicta saepe harum fugiat consectetur.
          </p>
        </div>
        <div class="productPrice">
          <p>sed diam $ 000.000</p>
        </div>
      </div>
    </div>

    <div class="main__shop--product sectR">
      <div class="main__shop--product-img image">
        <div class="productBack">

          <div class="productImg img04">

        </div>

        </div>

      </div>
      <div class="main__shop--product-content">
        <div class="productText">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi optio nesciunt cupiditate quis corporis esse rerum dicta saepe harum fugiat consectetur.
          </p>
        </div>
        <div class="productPrice">
          <p>sed diam $ 000.000</p>
        </div>
      </div>
    </div>

  </div>

  <div class="main__infoParallax parR">
    <div class="main__infoParallax--content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum repellat libero totam aperiam rem vel necessitatibus, in distinctio ut velit! Quo ipsum et provident reiciendis alias nobis impedit pariatur aperiam.</p>
    </div>
    <div class="main__infoParallax--title">Frutas</div>
  </div>

  <div class="main__shop sec2">

    <div class="main__shop--product sectL">
      <div class="main__shop--product-img image">
        <div class="productBack">

          <div class="productImg img01">

        </div>

        </div>
      </div>
      <div class="main__shop--product-content">
        <div class="productText">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi optio nesciunt cupiditate quis corporis esse rerum dicta saepe harum fugiat consectetur.
          </p>
        </div>
        <div class="productPrice">
          <p>sed diam $ 000.000</p>
        </div>
      </div>
    </div>

    <div class="main__shop--product sectR">
      <div class="main__shop--product-img image">
        <div class="productBack">

          <div class="productImg img02">

        </div>

        </div>
      </div>
      <div class="main__shop--product-content">
        <div class="productText">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi optio nesciunt cupiditate quis corporis esse rerum dicta saepe harum fugiat consectetur.
          </p>
        </div>
        <div class="productPrice">
          <p>sed diam $ 000.000</p>
        </div>
      </div>
    </div>

    <div class="main__shop--product sectL">
      <div class="main__shop--product-img image">
        <div class="productBack">

          <div class="productImg img03">

        </div>

        </div>

      </div>
      <div class="main__shop--product-content">
        <div class="productText">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi optio nesciunt cupiditate quis corporis esse rerum dicta saepe harum fugiat consectetur.
          </p>
        </div>
        <div class="productPrice">
          <p>sed diam $ 000.000</p>
        </div>
      </div>
    </div>

    <div class="main__shop--product sectR">
      <div class="main__shop--product-img image">
        <div class="productBack">

          <div class="productImg img04">

        </div>

        </div>

      </div>
      <div class="main__shop--product-content">
        <div class="productText">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi optio nesciunt cupiditate quis corporis esse rerum dicta saepe harum fugiat consectetur.
          </p>
        </div>
        <div class="productPrice">
          <p>sed diam $ 000.000</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="footer">
  <div class="footerBack">

  </div>
  <div class="footerWrapper">
    <div class="footer__title">
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
    </div>
    <div class="footer__subtitle">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas perferendis et quia officiis voluptate odio?</p>
    </div>
    <div class="footer__image">

    </div>
  </div>
</div>


